# Directories to ignore from release archives
docs export-ignore
examples export-ignore
scripts export-ignore
src export-ignore
tests export-ignore
vendor export-ignore

# Files to ignore from release archives
.* export-ignore
*.html export-ignore
CHANGELOG.md export-ignore
CONTRIBUTING.md export-ignore
ORGANIZATION.md export-ignore
package.json export-ignore
ROADMAP.md export-ignore

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.c text
*.h text linguist-language=cpp
*.txt text
*.rst text
*.ino text diff=cpp
